@CHARSET "ISO-8859-1";
.navbar .navbar-brand{
	font-family: "Georgia", Times, serif;
  color:gold;
  }
  
  .navbar{
  background-color:black;
  
  width : 100%;
  margin-top : 0;
  }
  em{
  color:violet;
  }